{% extends '@MetaCloudifyHomeBundle/base.html.twig' %}

{% block title %}Privacidad y condiciones del servício{% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/metacloudifyHome/css/sidebar.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/metacloudifyHome/css/home.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('bundles/metacloudifyHome/js/utils.js') }}"></script>
        {% endblock %}

{% block body %}

    <!-- HEADER -->
    {% include '@MetaCloudifyHomeBundle/Includes/header.html.twig' %}

    <!-- MAIN -->
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-4 text-center mt-3 mb-4">Privacidad y condiciones del servicio.</h1>
                <div class="highlight">
                    <h2>1. Privacidad de los Datos</h2>
                    <p>En MetaCloudify, respetamos y protegemos tu privacidad. Los datos que recopilamos se utilizan
                        únicamente para mejorar tu experiencia en la plataforma y no se comparten con terceros sin tu
                        consentimiento explícito.</p>
                    <p>Los datos almacenados en nuestra base de datos son los siguientes:</p>
                    <ul>
                        <li>OpenID</li>
                        <li>Email</li>
                        <li>Nickname</li>
                        <li>Dirección IP</li>
                    </ul>
                    <p>Estos datos son recopilados de plataformas como Google, OneDrive, Amazon, así como de servicios
                        privados como FTP y WebDAV. Es importante destacar que no almacenamos datos privados como
                        contraseñas bajo ninguna circunstancia.</p>
                </div>

                <div class="highlight">
                    <h2>2. Protección de Datos</h2>
                    <p>El contenido almacenado en nuestra base de datos se limita a los datos mencionados anteriormente,
                        así como a los metadatos agregados por el usuario durante el uso de la aplicación, como rutas,
                        nombres de archivos y tamaños.</p>
                    <p>Garantizamos la protección y seguridad de tus datos, y el acceso está restringido a personal
                        autorizado. Utilizamos medidas de seguridad adecuadas para proteger la integridad y
                        confidencialidad de la información almacenada.</p>
                </div>

                <div class="highlight">
                    <h2>3. Derechos de Acceso y Borrado de Datos</h2>
                    <p>En cumplimiento con la normativa vigente en Europa, te proporcionamos la opción de acceder y
                        solicitar la eliminación de tus datos personales almacenados en nuestra plataforma.</p>
                    <p>Para solicitar la eliminación de datos, envía un correo
                        electrónico a <a href="mailto:asistencia@metacloudify.es">asistencia@metacloudify.es</a>
                        indicando los datos que deseas borrar, incluyendo tu email, nickname y OpenID si dispones
                        de él.</p>
                </div>

                <p class="text-muted">Última actualización: 18/04/2024</p>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
    {{ include('@MetaCloudifyHomeBundle/Includes/footer.html.twig') }}
{% endblock %}
