<div class="modal fade modal-sheet bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="newDirFileModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header border-bottom-0">
                <h1 class="modal-title fs-5">Introduce un nombre</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-0">
                <label for="newName"></label><input type="text" class="form-control rounded-3" id="newName" placeholder="example">
            </div>
            <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                <button id="newNameButton" type="button" class="btn btn-lg btn-primary" data-bs-dismiss="modal" onclick="">Crear</button>
            </div>
        </div>
    </div>
</div>