<div class="modal-auto modal fade" id="modalEditarMetadatos" tabindex="-1" role="dialog" aria-labelledby="modalEditarMetadatosLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditarMetadatosLabel">Edición de metadatos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalNuevoCampo">Nuevo campo</button>
                <div>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="guardarMetadata($('#modalEditarMetadatos').data('path'),$('#modalEditarMetadatos').data('accountId'))">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal para nuevos campos -->
{{ include('@UEMC_homeBundle/Includes/modalNuevoCampoMetadata.html.twig') }}