<div class="modal-sm modal fade" id="modalNuevoCampo" tabindex="-1" role="dialog" aria-labelledby="modalNuevoCampoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalNuevoCampoLabel">Nuevo Campo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <!-- Contenido del modal -->
                <form>
                    <div class="mb-3">
                        <label for="nuevoCampoNombre" class="form-label">Nombre del Campo</label>
                        <input type="text" class="form-control" id="nuevoCampoNombre" name="nombreCampo">
                    </div>
                    <div class="mb-3">
                        <label for="nuevoValorCampo" class="form-label">Valor del Campo</label>
                        <input type="text" class="form-control" id="nuevoValorCampo" name="valorCampo">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="agregarNuevoCampo()" data-bs-toggle="modal" data-bs-target="#modalMetadatos">Guardar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
