<div class="modal-sm modal fade  " id="modalMetadatos" tabindex="-1" role="dialog" aria-labelledby="modalMetadatosLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalMetadatosLabel">Edición de metadatos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="archivoName" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="archivoName" name="archivoName">
                </div>
                <div class="mb-3">
                    <label for="archivoAuthor" class="form-label">Autor</label>
                    <input type="text" class="form-control" id="archivoAuthor" name="archivoAuthor">
                </div>
                <div class="mb-3">
                    <label for="archivoVisibilidad" class="form-label">Visibilidad</label>
                    <select class="form-select" id="archivoVisibilidad" name="archivoVisibilidad">
                        <option value="private">Private</option>
                        <option value="public">Public</option>
                    </select>
                </div>
                <button id="editMetadataBtn" type="button" class="btn btn-primary" onclick="editarMetadata()">Editar</button>
                <button type="button" class="btn btn-secondary" onclick="addMetadata($('#addNewMetadataName').val()); $('#addNewMetadataName').val('')">Añadir</button>
                <div class="col-5 d-block">
                    <label for="addNewMetadataName" class="form-label">Nombre: </label>
                    <input type="text" class="form-control" id="addNewMetadataName" name="addNewMetadataName">
                </div>
            </div>
        </div>
    </div>
</div>