<div class="modal-sm modal fade  " id="modalSignin" tabindex="-1" role="dialog" aria-labelledby="modalSigninLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalSigninLabel">Inicio de sesión</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <!-- Contenido del modal -->
                <a class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" href="{{ path('ftp_login') }}">
                    <i class="bi bi-hdd-rack"></i>
                    FTP
                </a>
                <a class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" href="{{ path('owncloud_login') }}">
                    <i class="bi bi-clouds"></i>
                    OwnCloud
                </a>
                <a class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" href="{{ path('googledrive_login') }}">
                    <i class="bi bi-google"></i>
                    Google
                </a>
                <a class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" href="{{ path('onedrive_login') }}">
                    <i class="bi bi-microsoft"></i>
                    OneDrive
                </a>
            </div>
        </div>
    </div>
</div>