<div class="d-none position-absolute d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center" id="contextMenu">
    <ul class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 shadow w-220px" data-bs-theme="light">
        <li><a id="buttonDlt" onclick="preventDefault();" class="dropdown-item rounded-2" href="#">Eliminar</a></li>
        <li><a id="buttonEdit" onclick="preventDefault();" class="dropdown-item rounded-2" href="#">Editar metadatos</a></li>
    </ul>
</div>