<div class="mt-auto w-100 bg-body-tertiary">
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3">
            <p class="col-4 mb-0 text-body-secondary d-inline-block justify-content-center justify-content-md-start">© 2024 <span class="d-none d-md-inline-block">MetaCloudify</span> </p>

            <a href="{{ path('Home_index') }}" class="col-4 text-body-secondary text-center text-decoration-none lh-1">
                <img id="logoNubeBlanco" class="img-fluid" src="{{ asset('bundles/metacloudifyhome/images/nubeBlanco.png') }}" alt="Logo MetaCloudify" style="height: 24px;">
            </a>

            <ul class="nav col-4 justify-content-center justify-content-md-end align-items-center">
                <li class=""><a class="text-body-secondary" href="https://github.com/ElUtku"><i class="bi bi-github fs-5"></i></a></li>
                <li><a class="col-12 badge text-wrap text-decoration-none text-body-secondary nav-link link-secondary" href="{{ path('Home_provacidad_condiciones') }}">Privacidad y condiciones del servicio</a></li>
                <li><a class="col-12 badge text-wrap text-decoration-none text-body-secondary nav-link link-secondary" href="{{ path('Home_about') }}">About</a></li>
            </ul>

        </footer>
    </div>
</div>