<div class="modal-auto modal fade" id="modalVerMetadatos" tabindex="-1" role="dialog" aria-labelledby="modalVerMetadatosLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalVerMetadatosLabel">Visor de metadatos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer d-flex justify-content-end">
                <button type="button" class="btn btn-sm btn-primary" onclick="editarModalMetadata()" data-bs-toggle="modal" >Editar</button>
                <button type="button" id="exportarMetadatos" class="btn btn-sm btn-secondary" onclick="" data-bs-toggle="modal" ><i class="bi bi-box-arrow-down me-2"></i>Exportar</button>
            </div>
        </div>
    </div>
</div>
