<div class="modal-auto modal fade" id="modalBuscarMetadatos" tabindex="-1" role="dialog" aria-labelledby="modalBuscarMetadatosLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalBuscarMetadatosLabel">Buscador de metadatos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="visibility" class="form-label">Visibility</label>
                    <select class="form-select mb-3" tabindex="-1" id="visibility" name="visibility" >
                        <option value="private">Private</option>
                        <option value="public">Public</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="author" class="form-label">Author</label>
                    <input type="text" class="form-control mb-3" id="author" name="author" spellcheck="false" data-ms-editor="true">
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalNuevoCampoBuscar">Nuevo campo</button>
                <div>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="buscadorMetadatos()">Buscar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal para nuevos campos -->
{{ include('@MetaCloudifyHomeBundle/Includes/modalNuevoCampoBuscarMetadata.html.twig') }}