<div class="mt-auto w-100 bg-body-tertiary">
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3">
            <p class="col-md-4 mb-0 text-body-secondary d-inline-block">© 2024 <span class="d-none d-md-inline-block">MetaCloudify</span> </p>

            <a href="{{ path('_home_index') }}" class="text-body-secondary text-decoration-none lh-1">
                <img id="logoNubeBlanco" class="img-fluid" src="{{ asset('bundles/metacloudify_home/images/nubeBlanco.png') }}" alt="Logo MetaCloudify" style="height: 24px;">
            </a>

            <ul class="nav col-md-4 justify-content-end">
                <li class="ms-3"><a class="text-body-secondary" href="https://github.com/ElUtku"><i class="bi bi-github fs-5"></i></a></li>
            </ul>

        </footer>
    </div>
</div>